*.pyc
*~
*.jgz
*.gz
*.DS_Store
*.rdb
*.appcache

migration/
whoosh/
font/
compressed/

noddymix/settings_secret.py
noddymix/apps/activity/nodejs/config.js

noddymix/*/mobile/touch/
noddymix/*/mobile/.sencha/
noddymix/static/mobile/resources/sass/.sass-cache/
noddymix/static/mobile/build/NoddyMix/production/deltas/
noddymix/static/mobile*/archive/
